 <div class="container">
        <br />
        <br />
        <br />
        <div class="jumbotron hero-spacer">
            <h1>Participating Businesses</h1>
            <p>Featuring local restaurants and companies who team up for a better lunch experience. </p>
            <p><%= link_to "Join the Alliance",  contact_us_path, class: "btn btn-default btn-lg" %>
            </p>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h3>Featured Restaurants</h3>
            </div>
        </div>
        <!-- /.row -->

        <div class="row text-center">

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Restaurant 1</h3>
                        <p>Emmanuel is ready to deliver an incredible lunch for you!</p>
                        <p><a href="#" class="btn btn-primary">About #1</a>  <a href="#" class="btn btn-default">Location</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Restaurant 2</h3>
                        <p>Not sure what to order? Los Hermanos has some local favorites.</p>
                        <p><a href="#" class="btn btn-primary">About #2</a>  <a href="#" class="btn btn-default">Location</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Restaurant 3</h3>
                        <p>Full of local cheer and happiness, this team keeps you fed and happy.</p>
                        <p><a href="#" class="btn btn-primary">About #3</a>  <a href="#" class="btn btn-default">Location</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Restaurant #4</h3>
                        <p>Chow down with these guys. You won't regret it.</p>
                        <p><a href="#" class="btn btn-primary">About #4</a>  <a href="#" class="btn btn-default">Location</a>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.row -->

        <hr>

        <br />
        <br />
        <br />
        <br />

    </div>
    <!-- /.container -->


