<h1>Connect with Us</h1>

<h3><%= link_to "Email", contact_us_path + "#email"%></h3>
<br />
<h3><%= link_to "Facebook", "#facebook" %></h3>
<br />
<h3><%= link_to "Twitter", "#twitter" %></h3>
<br />
