<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New user signed up!</h1>

    <p>Just to let you know you have a new Storkly member! Don't let them down.
    </p>
   
  </body>
</html>