<div class="modal fade" id="<%= dish.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= dish.plate %></h4>
      </div>

      <div class="modal-body">
        
          <div class="row">
            <div class="col-sm-4">
              <h3>Main Dish Ingredients</h3>
                
                  <% dish.ingredients.each do |ingredients| %>
                <div class="order-name"></div>
                <%= ingredients.price %>
                  <% end %>
                
            </div>
            <div class="col-sm-4">
              <h3>Side Dishes</h3>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>