

<h1>About Us</h2>


<h3><%= link_to "Team", static_team_path%></h3>
<br />
<h3><%= link_to 'Participating Businesses', static_participating_businesses_path %></h3>
<br />
<h3><%= link_to "Investors", static_investors_path %></h3>




