<div class="home-top">  
  <div class="home-page1">
    <img src="/assets/Butler.png" class="img-responsive" style="width: 100%;">
  </div>
  <div class="home-page2">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>1.Check Out Today's Menu. Don't Budge for Fast Food!</h3>
          </div>
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>2.Order Delicious Food. Eat Better. Save Time & Money! </h3>
          </div>
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>3.You're Supporting Local Restaurants!</h3>
          </div>
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-page3"> 
      <div class="home-bottom">
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <h1 style="margin-top: 0px;">Why Use LunchLord?</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
          Aliquam in felis sit amet augue.
        </p>
        <br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
    </div>
  </div>
