<div class="home-top">  
  <div class="home-page1">
    <img src="/assets/Butler.png" class="img-responsive" style="width: 100%;">
  </div>
  <div class="home-page2">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>1.Check Out Today's <span style="color: red;">Menu.</span><span style="color: red;"> Don't Budge</span> for Fast Food!</h3>
          </div>
          <div class="panel-body">
            <h4>Aren't you sick of only being able to order pizza? &nbsp;&nbsp;&nbsp; What if there was an alternative that could provide fresh local food right to your doorstep? &nbsp;&nbsp;&nbsp; Well now there is ... </h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>2.Order <span style="color: red;">Delicious Food.</span> Eat Better. <span style="color: red;">Save Time & Money!</span> </h3>
          </div>
          <div class="panel-body">
            <h4>...LunchLord teams with local restaurants located near you to provide you alternate lunch solutions. &nbsp;&nbsp;&nbsp; We hand select them and provide you with reasonable prices...</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>3.You're <span style="color: red;">Supporting Local Restaurants!</span></h3>
          </div>
          <div class="panel-body">
            <h4>...Not only are you getting killer food, you are also supporting local restaurants that normally don't get a big audience. &nbsp;&nbsp;&nbsp; They thank you!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-page3"> 
      <div class="home-bottom">
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <h1 style="margin-top: 0px;">Why Use <span style="color: red;">LunchLord?</span></h1><br/>
        <p class="lead">
          Other solutions are available in this industry but we rock the boat at bringing you <span style="color: red;">quality food at bang for the buck pricing.</span><br/><br/>
          We don't publish the entire restaurants menu. We want your experience to be fluid, so we <span style="color: red;">only provide you with the favorites at each location.</span><br/><br/>
          By picking very local restaurants we require <span style="color: red;">no delivery charges.</span> In fact, the more that order bring the menu price down for everyone!
        </p>
        <br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
    </div>
  </div>
