<h1>Listing dishes</h1>

<% @dishes.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |dish| %>

      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="http://placehold.it/320x150" alt="">
          <div class="caption">
            <h4 class="pull-right"><%= dish.price %></h4>
            <h4><a href data-toggle="modal" data-target="#<%= dish.id %>"><%= dish.plate %></a>
            </h4>
          </div>
          <div class="ratings">
              <p class="pull-right">15 reviews</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </p>
            </div>
          </div>
      </div>
      <%= render partial: 'popup', locals: {dish: dish} %>
    <% end %>
  </div>           
<% end %>