<div class="nested-fields well">
  <div class="nested-fields well well-lg">
    <div class="row">
      <div class="col-xs-2"><%= f.input :plate, label: "Dish Name" %></div>
    </div>
        <div class="row">
          <div class="col-xs-2"><%= f.input :price %></div>
        </div>

      <div class='row'>
       <div class="col-xs-4"> <%= f.input :image %> </div>
      </div>  

      <br/>
      <%= f.simple_fields_for :ingredients do |ingredient| %>
         <%=  render 'ingredient_fields', f: ingredient, :locals => {:ingredient => ingredient} %>
      <% end %>

    <div class="link">
      <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-success"%>
    </div>
  </div>

  <%= f.simple_fields_for :side_dishes do |side| %>
     <%=  render 'side_dish_fields', f: side %>
  <% end %>


  <div class="link">
    <%= link_to_add_association 'Add Side Dish', f, :side_dishes, class: "btn btn-success" %> | <%= link_to_remove_association "Remove Dish", f, class: "btn btn-danger" %>
  </div>

</div>