<div class="nested-fields well">
  <div class="nested-fields well well-lg">
    <div class="row">
      <div class="col-xs-2"><%= f.input :plate, label: "Dish Name" %></div>
    </div>
        <div class="row">
          <div class="col-xs-2"><%= f.input :price %></div>
        </div>
      <br/>
      <%= f.simple_fields_for :ingredients do |ingredient| %>
         <%=  render 'ingredient_fields', f: ingredient %>
      <% end %>

    <div class="link">
      <%= link_to_add_association 'add ingredient', f, :ingredients %>
    </div>
  </div>

  <%= f.simple_fields_for :side_dishes do |side| %>
     <%=  render 'side_dish_fields', f: side %>
  <% end %>


  <div class="link">
    <%= link_to_add_association 'add side', f, :side_dishes %>
  </div>

  <%= link_to_remove_association "remove dish", f %>
</div>