<div class="nested-fields well">
  <div class="row">
    <div class="col-xs-2"><%=f.input :name, label: "Ingredient Name" %></div>
    <div class="col-xs-4"><%=link_to_remove_association "remove ingredient", f %></div>
  </div>
</div>