<% @restaurants.each do |c| %>
  <div class='rest'>
    <%= c.name %>
    <%#= link_to 'edit', edit_restaurant_path%>
  </div>
<% end %>

<script>

$(document).ready(function() {
  $('.rest').on('click', function() {
    $('.rest').css('font-weight', 'normal')
    $(this).css('font-weight', 'bold')
  });
});

</script>