
$well-bg: $red;

// make all images responsive by default

main {
  @extend .container;
  background-color: #fff;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }

@import "bootstrap";