
$well-bg: #6c6c6c;



// make all images responsive by default

main {
  // @extend .container;
  background-color: #fff;
  width: 100%;
  }

.home-page2 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fbfafa;
}

.home-page3 {
  text-align: center;
  background-color: white;
}

.home-top {
  height: 100%;
}

@import "bootstrap";