// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well-lg{
  background-color:#eae4e4;
  color: black;
}

.well-sm{
  background-color:#cccaca;
}

.well-md{
  background-color:#b6b2b2;

  font-size: 16px;
}

.button-style :link{
  color:white;
}