// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-image {
  background: image-url("green.jpg");
}

#footer {
   // background-color: $black;
   color: $black;
   clear:both;

   margin-bottom: 0px;
   position: relative;
   width:100%;
   
   a{
      &:hover { 
      text-decoration: underline;
      color: inherit;
      }
        &:visited {
          color: white;
        }
    }
  p.copyright {
    padding: 35px;
    }
  }

