// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-image {
  background: image-url("green.jpg");
}


#footer {
   background-color: $black;
   color: $black;
   line-height: 1.0;
   position: absolute;
   width:100%;
   height:60px;   /* Height of the footer */
   a{
      &:hover { 
      text-decoration: underline;
      color: inherit;
      }
        &:visited {
          color: inherit;
        }
    }
  }

