<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
      <ul>
        <li><%= link_to "About Us", static_about_us_path %></li>
        <li><%= link_to "Contact Us", static_contact_us_path %> </li>
        <li><%= link_to "How It Works", static_how_it_works_path %></li>
      </ul>
      
      <div class="Social Media">
      </div>

  </div>
</nav>