<nav class="navbar navbar-default navbar-static-bottom" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="col-sm-1">
      <br/>

      <a class="navbar-brand" href="/">Storkly</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-sm-3">
      <ul class="nav nav-stacked">
        <br/>
        <br/>
        <li><%= link_to "How It Works", static_how_it_works_path %></li>
        <br/>
          <li>&nbsp;&nbsp;&nbsp;The Process</li>
          <li>&nbsp;&nbsp;&nbsp;FAQ's</li>
        </ul>
      </ul>
    </div>

    <div class="col-sm-3">
      <ul class="nav nav-stacked">
        <br/>
        <br/>
        <li><%= link_to "About Us", static_about_us_path %></li>
        <br/>
          <li>&nbsp;&nbsp;&nbsp;Team</li>
          <li>&nbsp;&nbsp;&nbsp;Participating Businesses</li>
          <li>&nbsp;&nbsp;&nbsp;Investors</li>
        </ul>
      </ul>
    </div>


    <div class="col-sm-3">
      <ul class="nav nav-stacked">
        <br/>
        <br/>
        <li><%= link_to"Connect with us", static_contact_us_path %></li>
        <br/>
          <li>&nbsp;&nbsp;&nbsp;Email</li>
          <li>&nbsp;&nbsp;&nbsp;Facebook</li>
          <li>&nbsp;&nbsp;&nbsp;Twitter</li>
        </ul>
      </ul>
    </div>

    </div><!-- /.navbar-collapse -->
    <br/>
      <center>
        <p><a href="http://www.bootply.com">mjm productions </a> &nbsp; | &nbsp; ©Copyright <%= Time.now.year %> Storkly.</p>
      </center>
  </div><!-- /.container-fluid -->
</nav>